body {
    background-color: black;
    color: white;

}

#soccer {
    background-color: black;
    color: white;
}

#jets{
    color: white;
    font-size: 30px;
    font-family: "Trebuchet MS";
    margin: 60px;
    padding: 20px;
    text-align: center;
}

.class {
    background-color: forestgreen;
    color: white;
    font-size: 30px;
    font-family: "Trebuchet MS";
    border: white solid 5px;
    margin: 60px;
    padding: 10px;
}

img{
    width: 200px;
    height: 200px;
}
a[href*="frhsd.com"] {
    color: forestgreen;
}

ul li:first-child {
    color: white;
}

a:visited {
    color: forestgreen;
}

li:hover {
    color: black;
}

div li {
    font-style: oblique;
}

div {
    li{
        font-weight: bold;
    }
}

li+li{
    text-indent: 10px;
}

ol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 #GW5 {
     background-color: black;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: auto auto;
     gap: 12px;
     img {
         grid-column: span 3;
         grid-row: span 3;
         height: 100%;
         width: 100%;
     }
     p {
         grid-column: span 2;
         grid-row: span 2;
     }
     a {
         grid-column: span 1;
         grid-row: span 1;
     }
 }
 h1 {
     text-align: center;
     font-size: 60px;
     font-family: "Trebuchet MS";
 }

 #world {
     text-align: center;
     font-size: 30px;
     font-family: "Trebuchet MS";
 }
 #loco{
     font-size: 50px;
     border-color: forestgreen;
     -webkit-text-fill-color: forestgreen;
 }
 #sess {
     font-size: 50px;
     border-color: forestgreen;
     -webkit-text-fill-color: forestgreen;
 }

 #wins{
     text-align: left;
     font-size: 18px;
 }

 h3{
     text-align: center;
     font-size: 50px;
     font-family: "Trebuchet MS";
 }

 #button {
     border-color: forestgreen;
     -webkit-text-fill-color: forestgreen;
 }

 #poo{
     font-size: 20px;
 }